{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="row">
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ title }}</h3>
			</div>
			<div class="panel-body">
				<section class="articles">
					{% for article in articles %}
						{% include 'blog/article.html' with article=article %}
					{% endfor %}
				</section>


				<ul class="pagination">
					{% if articles.has_previous %}
						<li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
					{% else %}
						<li class="disabled"><span>&laquo;</span></li>
					{% endif %}
					{% for i in articles.paginator.page_range %}
						{% if articles.number|add:10 > i and articles.number|add:-10 < i %}
							{% if articles.number == i %}
							  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							{% else %}
							  <li><a href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endif %}
					
				  	{% endfor %}
					{% if articles.has_next %}
						<li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
					{% else %}
						<li class="disabled"><span>&raquo;</span></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tags</h3>
			</div>
			<div class="panel-body">
				{% for tag in tags %}
					<a href="{% url 'blog:tag' tag %}"><span class="label label-default" style="line-height:2.4">{{ tag }}</span></a>
				{% endfor %}
			</div>
		</div>
 
	</div>
</div>



{% endblock main %}